.img-fondo {
  background-image: url("crud/img/ataque_pintura.jpg");
  background-position: center;
  opacity: 90%;
}

.fondo-redondeado {
  border-radius: 8%;
  color: rgb(219, 219, 219);
}

.espacio{
  margin-bottom: 190px;
}